<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300774399944693";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <div class="content">
    <div class="row">
       <div class="span12">
           <header class="bigass">
               <h1>Trackr</h1>
           </header>
        </div>
        <div class="span6 offset3">
            <div class="well">
                <h3>Easy realtime stats.</h3>
                <%= form_tag reports_path do %>
                  <%= text_field_tag "domain", nil, placeholder: "domain.com", required: :required %>
                  <%= submit_tag "Start track'n", class: "start-tracking btn btn-primary btn-large" %>
                <% end %>
            </div>
        </div>
        <div id="sharing" class="span3 offset5">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Trackr, easy realtime stats">Tweet</a>


          <div class="fb-like" data-send="false" data-layout="button_count" data-width="160" data-show-faces="false" data-font="arial"></div>

          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->
