// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #BF3F5F;

body {
  background: #DFDFDF;
  padding-top: 10px;
}

header.bigass h1 {
  color: $color;
}

h1 {
  text-align: center;
}

h1 em {
  font-style: normal;
  color: $color;
}

#online {
  font-size: 180px;
  line-height: 0.8em;
  color: $color;
}

ul {
    text-align: center;
    margin: 0;
    li {
        list-style: none;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;

        span {
            font-size: 18px;
            display: inline-block;
            margin-left: 15px;
            display: none;
        }
        &:nth-child(1){
            color: #BF3F5F;
        }
        &:nth-child(2){
            color: #CE4062;
        }
        &:nth-child(3){
           color: #DB4468;
        }
        &:nth-child(4){
            color: #ED476E;
        }
        &:nth-child(5){
            color: #FF4F79;
        }
    }
}