// Place all the styles related to the signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.bigass {
  text-align: center;
  h1 {
    font-size: 72px;
    line-height: 1.2;
    text-shadow: 0px 1px 1px #5E1D2E;
    filter: dropshadow(color=#5E1D2E, offx=0, offy=1);
  }
  #domain {
    font-size: 15px;
    padding: 9px;
    margin: 0;
    border-radius: 4px;
    height: 17px;
  }
}